{% extends 'movies/template.html' %}
{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'genre_create' %}">Create genre</a></br>
    {% endif %}
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        {% if genres %}
            {% for genre, count in genres %}
                <div class = "genre">
                    <a href="{% url 'genre_detail' genre.id %}">{{ genre.name }}</a> &nbsp{{count}} {% if count == 1 %} movie {% else %} movies {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class = "genre">
            No genre is available.
            </div>
        {% endif %}
    </div>
{% endblock content %}