{% extends 'movies/template.html' %}

{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'genre_edit' genre.id %}">Edit genre</a></br>
        <a href="{% url 'genre_delete' genre.id %}">Delete genre</a></br>
    {% endif %}
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        <div class = "genre-info">
            {{ genre.name }}<br/>
            {{ genre.description }}<br/>
            Movies with this genre:<br/>
        </div>
        {% for movie in movies %}
            <div class = "movie">
                <a href="{% url 'movie_detail' movie.id %}">{{ movie }}</a></br>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
