{% extends 'movies/template.html' %}
{% block content %}
<div>
    <div class = "left-panel">
        <div class = "account">
            {% if request.user.is_authenticated %}
                <div>
                    Hi {{ request.user }} <a href="/profile/{{ request.user.id }}">Profile</a>
                </div>
                <div>
                    <a href="{% url 'logout_from_page' %}?next={{ request.path }}">Logout</a>
                </div>
            {% else %}
            <a href="{% url 'login_to_page' %}?next={{ request.path }}">Login</a>
            <a href="{% url 'register_to_page' %}?next={{ request.path }}">Register</a>
            {% endif%}
        </div>
        {% if request.user.is_staff %}
            <a href="{% url 'movie_create' %}">Create movie</a></br>
        {% endif %}
        <hr/>
    </div>
    <div class = "right-panel">
        {% if movies %}
            {% for movie in movies %}
                <div class = "movie">
                    <a href="{% url 'movie_detail' movie.id %}">{{ movie.name }}</a>
                </div>
            {% endfor %}
        {% else %}
            <div class = "movie">
            No movie is available.
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}