{% extends 'movies/template.html' %}
{% load movies_extras %}

{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'movie_create' %}">Create movie</a></br>
    {% endif %}
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        {% if movies %}
            {% for movie, count in movies|zip:comment_count %}
                <div class = "movie">
                    <img class = "comment-picture", src="{{ movie.image.url }}"/><a href="{% url 'movie_detail' movie.id %}">{{ movie.name }}</a> &nbsp{{count}} {% if count == 1 %} comment {% else %} comments {% endif %}
                    | Average rating: {% if movie.avg_rating is None %} No ratings yet {% else %} {{ movie.avg_rating }} {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class = "movie">
            No movie is available.
            </div>
        {% endif %}
    </div>
{% endblock content %}