{% extends 'movies/template.html' %}

{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'movie_edit' movie.id %}">Edit movie</a></br>
        <a href="{% url 'movie_delete' movie.id %}">Delete movie</a></br>
        {% if movie.is_public %}
            <a href="{% url 'movie_public_private' movie.id %}">Mark movie as private</a><br/>
        {% else %}
            <a href="{% url 'movie_public_private' movie.id %}">Mark movie as public</a><br/>
        {% endif %}
        <br/>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'comment_create' %}?movie={{ movie.id }}">Add comment</a></br>
    {% endif %}
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        <div class = "movie-info">
            <div class="profile-picture">
                <img src="{{ movie.image.url }}" alt="Movie picture">
            </div>
            {{ movie.name }}<br/>
            {{ movie.description }}<br/>
            Genres: 
            {% for genre in movie.genres.all %}
                <a href="{% url 'genre_detail' genre.id %}">{{ genre }}</a>
            {% endfor %}
            <br/>
            Tags: 
            {% for tag in movie.tags.all %}
                <a href="{% url 'tag_detail' tag.id %}">{{ tag }}</a>
            {% endfor %}
            <br/>
            Created by <a href="{% url 'user_profile' movie.created_by.id %}">{{ movie.created_by }}</a><br/>
            Created at {{ movie.created_at }}<br/>
            Last update {{ movie.updated_at }}<br/>
            {% if movie.is_public %}
                Status: Public<br/>
            {% else %}
                Status: Private<br/>
            {% endif %}
        </div>

        {% for comment in comments %}
            <div class = "comment">
                {{ comment }} <span class = "comment-author">&nbsp<img class = "comment-picture", src="{{ comment.author.profile.image.url }}"/><a href="{% url 'user_profile' comment.author.id %}">{{ comment.author }}</a> {{ comment.created_at|timesince }} ago&nbsp<a href="{% url 'comment_reply' %}?movie={{ movie.id }}&comment={{ comment.id }}">Reply</a></span><br/>
            </div>
            {% for reply in comment.comment_set.all|dictsortreversed:"created_at" %}
                <div class = "comment-reply">
                    {{ reply }} <span class = "comment-author">&nbsp<img class = "comment-picture", src="{{ comment.author.profile.image.url }}"/><a href="{% url 'user_profile' reply.author.id %}">{{ reply.author }}</a> {{ reply.created_at|timesince }} ago
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock content %}