{% extends 'movies/template.html' %}

{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'movie_create' %}">Create movie</a></br>
    {% endif %}
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        {% if movies %}
            {% for movie in movies %}
                <div class = "movie">
                    <a href="{% url 'movie_detail' movie.id %}">{{ movie.name }}</a>
                </div>
            {% endfor %}
        {% else %}
            <div class = "movie">
            No movie is available.
            </div>
        {% endif %}
    </div>
{% endblock content %}