{% extends 'movies/template.html' %}
{% load movies_extras %}

{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'tag_create' %}">Create tag</a></br>
        <hr/>
    {% endif %}
    <div class = "search-bar">
        <h3>Filter</h3>
        <form method="GET", action="">
            <select name="type">
                {% if q_tag == 'Movies count' %}
                    <option>Name</option>
                    <option selected="selected">Movies count</option>
                {% else %}
                    <option selected="selected">Name</option>
                    <option>Movies count</option>
                {% endif %}
            </select>
            <br/>
            <input type="submit", value="Filter">
        </form>
    </div>
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        {% if tags %}
            {% for tag, count in tags|zip:movie_count %}
                <div class = "tag">
                    <a href="{% url 'tag_detail' tag.id %}">{{ tag.name }}</a> &nbsp{{count}} {% if count == 1 %} movie {% else %} movies {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class = "tag">
            No tag is available.
            </div>
        {% endif %}
    </div>
{% endblock content %}