{% extends 'movies/template.html' %}

{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'tag_create' %}">Create tag</a></br>
    {% endif %}
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        {% if tags %}
            {% for tag in tags %}
                <div class = "tag">
                    <a href="{% url 'tag_detail' tag.id %}">{{ tag.name }}</a>
                </div>
            {% endfor %}
        {% else %}
            <div class = "tag">
            No tag is available.
            </div>
        {% endif %}
    </div>
{% endblock content %}