{% extends 'movies/template.html' %}

{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'tag_edit' tag.id %}">Edit tag</a></br>
        <a href="{% url 'tag_delete' tag.id %}">Delete tag</a></br>
    {% endif %}
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        <div class = "tag-info">
            {{ tag.name }}<br/>
            {{ tag.description }}<br/>
            Movies with this tag:<br/>
        </div>
        {% for movie in movies %}
            <div class = "movie">
                <a href="{% url 'movie_detail' movie.id %}">{{ movie }}</a></br>
            </div>
        {% endfor %}
    </div>
{% endblock content %}