{% extends 'movies/template.html' %}
{% block content %}
<div>
    <div class = "left-panel">
        <div class = "account">
            {% if request.user.is_authenticated %}
                <div>
                    Hi {{ request.user }} <a href="/profile/{{ request.user.id }}">Profile</a>
                </div>
                <div>
                    <a href="{% url 'logout_from_page' %}?next={{ request.path }}">Logout</a>
                </div>
            {% else %}
            <a href="{% url 'login_to_page' %}?next={{ request.path }}">Login</a>
            <a href="{% url 'register_to_page' %}?next={{ request.path }}">Register</a>
            {% endif%}
        </div>
        {% if request.user.is_staff %}
            <a href="{% url 'tag_edit' tag.id %}">Edit tag</a></br>
            <a href="{% url 'tag_delete' tag.id %}">Delete tag</a></br>
        {% endif %}
        <hr/>
    </div>
    <div class = "right-panel">
        {{ tag.name }}<br/>
        {{ tag.description }}<br/>
    </div>
</div>
{% endblock content %}
