{% extends 'movies/template.html' %}
{% load movies_extras %}

{% block left_panel %}
    {% if request.user.is_staff %}
        <a href="{% url 'tag_edit' tag.id %}">Edit tag</a></br>
        <a href="{% url 'tag_delete' tag.id %}">Delete tag</a></br>
    {% endif %}
    <hr/>
{% endblock left_panel %}

{% block content %}
    <div class = "right-panel">
        <div class = "tag-info">
            {{ tag.name }}<br/>
            {{ tag.description }}<br/>
            {{ movies.count }} {% if movies.count == 1 %} movie {% else %} movies {% endif %} with this tag:<br/>
        </div>
        {% for movie, count in movies|zip:comment_count %}
            <div class = "movie">
                <a href="{% url 'movie_detail' movie.id %}">{{ movie }}</a> &nbsp{{count}} {% if count == 1 %} comment {% else %} comments {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}